<!DOCTYPE html> {% load static %}
<html lang="en">

    <head>
        <meta http-equiv="cache-control" content="no-cache">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
        <link href="https://fonts.googleapis.com/css?family=Caveat|Gloria+Hallelujah|Pacifico|Montserrat|Open+Sans" rel="stylesheet">
        
        {% if user.is_authenticated %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}"> 
        {% else %}
        <link rel="stylesheet" href="{% static 'css/landing.css' %}">
        {% endif %}
            
        {% block stylesheets %} {% endblock %}
    </head>

    <body>
    {% block body %}   
        {% if user.is_authenticated %}
        <nav class="navbar navbar-expand-md navbar-light bg-light">
                <div class="container">
                        <a class="navbar-brand" href="{% url 'home'%}">Codecards</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav ml-auto">
                                <a class="nav-item nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                                <div class="dropdown">                                    
                                    <a class="nav-item nav-link dropdown-toggle" href="{% url 'home' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {% if user.get_short_name %}
                                        {{ user.user.get_short_name }}
                                        {% else %}
                                        {{ user.username.capitalize }}
                                        {% endif %}         
                                    </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                                        </div>
                                </div>
                                <a href="#" class="nav-item nav-link">Decks</a>
                            </div>
                        </div>
                </div>
            </nav>
        {% block content %}  
        {% endblock content %}
        {% else %}
        <div class="container-fluid hero d-flex justify-content-center">
                <div class="hero-box">
                    <div class="row justify-content-center">
                        <div class="">
                            <h1 class="brand">Codecards</h1>
                            <p class="hero-p">Simple Flashcards for Code</p>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <a href="{% url 'accounts:login' %}" class="btn btn-success btn-wide">Login</a>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'accounts:signup' %}" class="btn btn-outline-light btn-wide">Signup</a>
                        </div>       
                    </div>
                </div>
            </div>
            <div class="container-fluid features">
                <div class="row">
                    <div class="col-md-4 feature">
                        
                        <div class="feature-img">
                            <img class="mb-4 img-fluid" src="{% static 'img/cards-stack.svg' %}" alt="cards-stack">
                        </div>
                        <h5 class=text-center>Simple Cards</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae reiciendis iste molestias harum rem voluptatibus reprehenderit quis corporis nisi dolore.</p>
                    </div>
                    <div class="col-md-4 feature">
                        <div class="feature-img">
                            <img class="mb-4 img-fluid" src="{% static 'img/curly-brackets.svg' %}" alt="curly-brackets">
                        </div>
                        <h5 class=text-center>Syntax Higlighting</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae reiciendis iste molestias harum rem voluptatibus reprehenderit quis corporis nisi dolore.</p>
                    </div>
                    <div class="col-md-4 feature">
                        <div class="feature-img">
                            <img class="mb-4 img-fluid" src="{% static 'img/coding.svg' %}" alt="code">
                        </div>
                        <h5 class=text-center>Code or General</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae reiciendis iste molestias harum rem voluptatibus reprehenderit quis corporis nisi dolore.</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid example">
                <div class="row">
                    <div class="col-md-4">
                        <h5></h5>
                    </div>
                    <div class="col-md-8">

                    </div>
                </div>
            </div>
        {% endif %}

    {% endblock body %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>