{% extends "base.html" %} {% load static %}

{% block stylesheets %} {% endblock %} 


{% block nav %}
    
{% endblock  %}
    

{% block content %}
<div class="container rounded">
    <div class="profile shadow">
        <div class="profile-header rounded-top">
            <h1 class="username text-white">            
                <!-- Look for a first name otherwise return username-->
                {% if user.get_short_name %}
                    {{ user.get_short_name}}
                {% else %}
                    {{user.username.capitalize}}
                {% endif %}
            </h1>
            <img class="profile-img rounded-circle shadow" src="{% static 'img/robot.png' %}" alt="">
        </div>
        <div class="profile-decks">
            <h2 class="recent-decks">
                Recent Decks
            </h2>
            <div class="decklist">
                
                {% for deck in decks %}                    
                <div class="card shadow">
                    <div class="card-header text-center">
                        <h4 class="card-title">{{ deck.name }}</h4>
                    </div>
                    <div class="card-body">
                        <p class="text-center">
                        Cards: {{ deck.cards.count }}
                        </p>
                        <small class="text-muted">
                        Last Updated: {{ deck.updated_at}}
                        </small>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
</div>

{% endblock %}