{% extends 'base.html' %} 
{% load static %} 
{% block title %} Homepage {% endblock %}
 
{% block stylesheets %}
 
{% endblock %} 
 
{% block body %}
<div class="container-fluid hero d-flex align-items-center justify-content-center">
    <div class="mw-50 mw-md-40 py-10">
        <h1 class="brand">Codecards</h1>
        <div class="row">
            <div class="col-6">
                <a href="{% url 'accounts:login' %}" class="btn btn-success btn-wide">Login</a>
            </div>
            <div class="col-6">
                <a href="#" class="btn btn-outline-success btn-wide">Signup</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row features">
        <div class="col-sm-4 feature text-center">
            <img class="feature-img mb-4" src="{% static 'img/cards-stack.svg' %}" alt="cards-stack">
            <h5>Simple Cards</h5>
        </div>
        <div class="col-sm-4 feature text-center">
            <img class="feature-img mb-4" src="{% static 'img/curly-brackets.svg' %}" alt="curly-brackets">
            <h5>Syntax Higlighting</h5>
        </div>
        <div class="col-sm-4 feature text-center">
            <img class="feature-img mb-4" src="{% static 'img/coding.svg' %}" alt="code">
            <h5>Code or General</h5>
        </div>
    </div>
</div>
<footer>

</footer>
{% endblock %}