{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock  %}
    
{% block content %}
<div class="profile">
    <div class="p-hero card shadow">
        <img class="rounded-circle hero-image" src="{% static 'img/headshot.png' %}" alt=""> <!-- Change later dynamic image with  deafult of a static one-->
    </div>
    <div class="p-decks card shadow">
        <h2>My Decks</h2>
    </div>
    <div class="p-categories card shadow"></div>
</div>
{% endblock  %}
    