body {
    background: url(../img/random_grey_variations/random_grey_variations.png);

}

.brand {
    font-family: 'Gloria Hallelujah', cursive;
}

.brand a {
    color: #FFF;
}

.brand a:hover,
.brand a:active {
    text-decoration: none;
}