body {
    background: url(../img/random_grey_variations/random_grey_variations.png);

}

.brand {
    font-family: 'Gloria Hallelujah', cursive;
}

.brand a {
    color: #FFF;
}

.brand a:hover,
.brand a:active {
    text-decoration: none;
}

.centered-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}