$colors:(
    teal: #1B998B,
    teal-hover: #167e72,
    white: #ffffff,
    green: #71C695,
    blue-gray: #485160,
    gray: #9CA7AA,
    text: #495057,
);

@function color($color-name){
    @return map-get($colors, $color-name)
};

*{
    box-sizing: border-box;
}

body, html{
    height: 100%;
    margin:0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', cursive;
    background: url(../img/random_grey_variations/random_grey_variations.png);

    #bg {
        height:100%;
        width:100%;
        z-index: -1;
    }
    
    .navbar-brand {
        font-family: 'Gloria Hallelujah', cursive;
        font-size:1.5em;
    }

    .profile{

        .p-hero{

            .hero-image{
                border: 1px solid color(gray);
                max-width: 150px;

            }
        }

        .p-categ{

            .categ-list{
                list-style: none;
            }

        }

        .p-decks{

            a {
                text-decoration: none;
            }
            
            .box{
                height: 140px;
                width: 250px;
                margin: .5em;
                position: relative;
                color:color(text);
                
                @media (min-width: 476px) {
                    width: 180px;
                }
            }
        }
    }
}







