:root{
    font-size: 18px;
    margin:0;
    padding:0;
}

html{
    box-sizing: border-box;
}

body
*:before,
*:after {
    box-sizing: inherit;
    background: #f0f0f0;
}


.hero {
    background: url(../img/random_grey_variations/random_grey_variations.png);
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);
}

.hero-box {
    margin-top: 30vh;
}


.hero-p{
    font-family: 'Gloria Hallelujah', cursive;
    color: #FFFFFF
}

.brand{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 4em;
    color:#FFFFFF;
}

.brand-dark{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 4em;
    color:#0f0f0f;
}

.logo {
    font-family: 'Gloria Hallelujah', cursive;

}
.btn-wide {
    width: 8rem;
}


.features{
    margin: 4em 0;
}

.feature{
    font-family: "Open Sans", sans-serif;
    margin: 2em 0;
}

.feature-img {
    width: 100px;
}


